@import "../vars";
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-out .225s;
    padding: 0;
    &:focus {
        box-shadow: none;
    }
}

.btn-yellow{
    color: #002B4B;
    background-color: $primary;
    box-shadow: 2px 1px 5px rgba(35, 31, 245, 0.21);
    border-radius: 5px;
    &:hover{
        color: #002B4B;
        background-color: darken($primary, 15%);
    }
}
