.display1{
  font-weight: 400;
  font-size: 64px;
  line-height: 110%;
}

@media screen and (max-width: 992px){
  .display1{
    font-size: 48px;
  }
}

@media screen and (max-width: 768px){
  .display1{
    font-size: 24px;
  }
}
