@import "components/text";
@import "components/buttons";
.ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid $primary !important;
    background: #fff !important;
    box-shadow: none;
    top: -7.5px !important;
    &:before{
        position: absolute;
        content: attr(data-output);
        min-width: 72px;
        width: unset;
        height: 30px;
        background: #EEF1F7;
        border-radius: 8px;
        padding: 0 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        top: unset;
        bottom: 100%;
        transform: translate(-50%, -8px);
        color: $black;
        white-space: nowrap;
        font-weight: 600;
        font-size: 14px;
    }
}

.range-slider {
    background: #EEF1F7;
    border-radius: 100px;
    height: 5px;
    border: none !important;
    box-shadow: none;
}

.ui-widget-header {
    background: rgba(255, 222, 82, 0.57);
}

@media screen and (max-width: 768px){
    .ui-slider-handle::before{
        display: none;
    }
}

.form-group {
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    input {
        border: none;
        border-bottom: 1px solid #000000;
        padding: 0 10px;
        height: 47px;
        width: 100%;
        font-size: 18px;
        background-color: transparent;
        color: #000;
        &::placeholder {
            color: #000;
        }
        &:focus {
            &::placeholder {
                color: rgba(#000, 0.3);
            }
        }
    }
}

.check {
    position: relative;
    input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        cursor: pointer;
        &:checked+label {
            &::before {
                // background-color: $green;
                border: 3px solid #fff;
            }
        }
        &:disabled+label {
            color: #AAAAAA;
            pointer-events: none;
        }
    }
    label {
        padding-left: 40px;
        position: relative;
        min-height: 20px;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            border-radius: 2px;
            background: rgba(255, 255, 255, 0.01);
            border: 1px solid rgba(255, 255, 255, 0.45);
            width: 20px;
            height: 20px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all .100s;
        }
    }
}
